#bodymembers{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 1.2rem;
    height: auto;
    gap: 1.5em;
    flex-flow: wrap;
 
}

.bodymembers__titular{
    font-family: 'Metal', sans-serif;
    font-weight: bolder;
   display: flex;
   justify-content: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
    width: 100vw;
 
}
.bandmember{
  position: relative;
text-align: center;
height: auto;
border: solid black 2px;
flex: 1 0 0;
margin: 10px;
width: 400px;
margin-bottom: 40px;
box-shadow: 2px 2px 10px black;
border-radius: 15px;
&__foto,img{
  border-radius: 15px;
  
}
&__nombre, h2{
  font-family: 'Metal', sans-serif;
  margin-top: 10px;
 
  
}
&__instrumento, h3{
  font-weight:400;
  font-style: italic;
  font-size: 15px;
  
}
&__descripcion{
  text-align: justify;
  text-align: center;
  width: 100%;
 
}
}

.bandmember::before{
  height: 100%;
  left: 0px;
  position: absolute;
  content: "";
  top: 0px;
  width:100%;
  z-index: 2;
  background-color: #e60f0f;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0,25s;
}
.bandmember:hover::before{
  opacity: 40%;
  box-shadow: 2px 2px 10px black;
}
.bandmember:hover{
  background-image: url('../images/darkthrone.png');

}
